/* Standard Elements */
body {
    background-color: #333;
    color: #000;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

a {
    color: #3399ff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #cc0000;
}

main {
    background-color: #f4f4f4;
    float: left;
    width: 80%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

aside {
    background-color: #333;
    color: #f4f4f4;
    float: right;
    width: 20%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    border-left: 2px solid #333;
}

header {
    background-color: #f4f4f4;
    margin: 10px auto;
    padding: 10px 20px;
    text-align: center;
}

footer {
    background-color: #f4f4f4;
    margin: 10px auto;
    padding: 10px 20px;
    text-align: center;
}

section {
    padding-top: 5px;
    padding-bottom: 25px;
}

/* Clear floating */
.clr {
    clear: both;
}

/* Basic button style */
.button {
    padding: 10px;
    background-color: #333;
    color: #f4f4f4;
}
.button:hover {
    background-color: #cc0000;
}

/* 3 Column floating boxes */
.triple-box {
    padding-top: 0px;
    padding-right: 20px;
    margin: 0;
    box-sizing: border-box;
    border-left: 3px solid #333;
    float: left;
    width: 33.3%;
}

.triple-box h3 {
    color: #f4f4f4;
    background-color: #333;
    margin: 0;
    padding-left: 10px;
}

.triple-box p {
    padding-left: 10px;
}
