/* Standard Elements */
body {
    background-color: #333;
    color: #000;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

a {
    color: #2288ee;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #cc0000;
}

main {
    background-color: #f4f4f4;
    float: left;
    width: 80%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

aside {
    color: #333;
    background-color: #f4f4f4;
    float: right;
    width: 20%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    border-left: 2px solid #333;
}

header {
    background-color: #2288ee;
    color: #f4f4f4;
    margin: 10px auto;
    padding: 10px 20px;
    text-align: center;
}

footer {
    background-color: #2288ee;
    color: #f4f4f4;
    margin: 10px auto;
    padding: 10px 20px;
    text-align: center;
}

section {
    padding-top: 5px;
    padding-bottom: 25px;
}

form {
    margin: 0 auto;
}

label {
    display: inline-block;
    width: 25%;
    margin: .2em auto;
    text-align: right;
    box-sizing: border-box;
}

input, textarea {
    font: 1em sans-serif;
    width: 25%;
    box-sizing: border-box;
    border: 1px solid #333;
    border-radius: .25em;
}

input:focus, textarea:focus {
    border-width: 2px;
}

/* Clear floating */
.clr {
    clear: both;
}

/* Basic button style */
button, .button {
    border: none;
    padding: 10px;
    background-color: #333;
    color: #f4f4f4;
}
button:hover, .button:hover {
    background-color: #cc0000;
    color: #f4f4f4;
}
.button--light {
    background-color: #f4f4f4;
    color: #333;
}

.button--submit {
    text-align:center;
    width: 25%;
    margin: .6em;
}

/* 3 Column floating boxes */
.triple-box {
    padding-top: 0px;
    padding-right: 20px;
    margin: 0;
    box-sizing: border-box;
    border-left: 3px solid #333;
    float: left;
    width: 33.3%;
}

.triple-box h3 {
    color: #f4f4f4;
    background-color: #333;
    margin: 0;
    padding-left: 10px;
}

.triple-box p {
    padding-left: 10px;
}
